header {
  text-align: center;
  color: white;
}

body {
  text-align: center;
  display: block;

}

li {
  text-align: left;
  color: white;
}

a {
  color: red;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
