header {
  text-align: center;
  color: white;
  background: url("header.JPG");
  display: block;
  background-position: left top;
  background-repeat: no-repeat;
	background-size: 100% auto;
}

body {
  text-align: center;
  display: block;
  background-image: url("images/background.jpg");
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

li {
  text-align: left;
  color: white;
}

a {
  color: red;
}

.scrollable-menu {
    height: auto;
    max-height: 350px;
    max-width: 90%;
    overflow-x: hidden;
    overflow: auto;
    white-space: nowrap;
}
